$text-gray-dark: #2C2C2E
$text-gray: #666668
$gray-1: #F2F2F7
$blue-5: #007AFF
$green-5: #34C759
$green-3: #81E299
$c-light-active: #5C6BC0
$c-dark-hover-sub: #424242
$c-palettes-indigo-50: #E8EAF6
$c-palettes-indigo-400: #5C6BC0

@mixin Inter
  font-family: Inter, serif

@mixin h3
  font-size: 14px
  font-weight: 600

@mixin text-xs
  font-size: 12px
  font-weight: 400

@mixin width-619
  max-width: 619px
  width: 100%
  margin: 0 auto

@mixin content-16
  font-size: 16px
  font-weight: 400

@mixin content-16-inter
  font-size: 16px
  font-weight: 600
  @include Inter


