<tk-page>
  <div class="profile-container">

    <div class="profile-header">
      <img alt="background-img" src="assets/images/prettyback.png"/>
      <button (click)="openChangeBackgroundModal()" class="background-button">
        Change background
      </button>
      <div class="profile-header__content">
        <span class="avatar__wrapper">
          <div class="avatar">
            <img alt="avatar" src="assets/images/someuser.png"/>
          </div>
        </span>
        fsdfds
      </div>
    </div>
  </div>
</tk-page>
