<div class="chats-list__wrapper">
  <ul class="chats-list">
    <li class="chats-search__wrapper">
      <tk-search *ngIf="!isReversed" placeholder="Double click for more options..." (dblclick)="changeCover()"
                 [formControl]="search"
                 class="chats-search"></tk-search>
      <button class="button-return" *ngIf="isReversed" (click)="changeCover()">
        <tk-icon class="button-return-icon" width="24" height="24" item="arrow"></tk-icon>
        <span>
          To messages
        </span>
      </button>
    </li>
    <ng-container *ngIf="!(isReversed$ | async); else reversed">
      <ng-container *ngIf="displayChats.length > 0; else notFound">
        <a *ngFor="let chat of displayChats" routerLink="/chat/{{chat.id}}" class="chats-item">
          <div class="chats-item__wrapper">
            <img alt="group avatar" class="chats-img" src="assets/images/someuser.png"/>
            <div class="chats-item__info">
              <p>
                {{chat.userName}}
              </p>
              <span>
            <img alt="last message avatar" class="user-img" src="assets/images/someuser.png">
            Chat #1
          </span>
            </div>
          </div>
          <div class="button-wrapper">
            <p>
              23 feb
            </p>
            <button (mouseenter)="onEnterMeatBall(chat)" rggPopover [popoverTrigger]="popup">
              <tk-icon width="24" height="16" item="meatballs-menu"></tk-icon>
            </button>
          </div>
        </a>
      </ng-container>
    </ng-container>
  </ul>
</div>

<ng-template #notFound>
  <li class="chats-empty">
    Found 0 coincidences. Try again
  </li>
</ng-template>

<ng-template #reversed>
  <label class="friends__label underline">
    Your friends
  </label>
  <tk-employee-list [employees]="employeeList" scrollTracker (onEndHandler)="updateEmployees()"></tk-employee-list>
  <tk-nav-chips (returnHandler)="changeCover()"></tk-nav-chips>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #popup>
  <rgg-popup class="popover__wrapper">
    <button (click)="deleteChat()" class="popover">
      Delete chat
    </button>
    <button class="popover">
      Archive chat
    </button>
    <button class="popover">
      Add to spam
    </button>
    <button class="popover">
      Pin chat
    </button>
  </rgg-popup>
</ng-template>
